body {
    font-family: "Source Code Pro", monospace;
    font-weight: normal;
    margin: 0;
    padding: 0;
    background-color: #cca713;
    height: 100vh;
    display: flex;
}

h1 {
    color: rgb(13,39,5);
    font-size: 75px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

p {
    color: rgb(13, 39, 5); 
}

.project a {
    color:rgb(13, 39, 5);
}

.project img {
    width: 200px;
    height: auto;
}